/* Main CSS File */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3e5dd;
    overflow-x: hidden;
}

.navbar {
    background: #4eac51e9;
    padding: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 5rem;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    white-space: nowrap; 
}

.button-container {
    display: inline-flex;
    justify-content: flex-start; 
    padding-top: 10px; 
}

.nav-btn {
    position: relative;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 0.3125rem;
    transition: background 0.3s;
}

.nav-btn::after {
    content: '';
    display: block;
    height: 5px; 
    background: rgba(194, 194, 194, 0.3); 
    transition: background 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; 
}

.nav-btn.active::after {
    background: #dee7df; 
}

.content {
    padding: 16px;
    backdrop-filter: blur(5px); 
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    max-width: 1000px; 
    margin: 20px auto; 
}

@media (max-width: 1060px) {
    .content {
        margin: 20px 10px; 
    }
}

.footer {
    background-color: #fff;
    font-size: 1rem;
    line-height: 25px;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    bottom: 0;  
    max-width: 1000px;
    margin: 20px auto;  
}

@media (max-width: 1060px) {
    .footer {
        margin: 20px 10px; 
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #9cbaadc2;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #699c85d6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #385548d9;
}
