.article-list {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    padding: 20px;
    gap: 15px; 
    justify-content: center; 
}


.article-item {
    display: flex;
    align-items: center; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 10px;
    transition: box-shadow 0.3s;
    cursor: pointer; 
    min-width: 300px; 
    max-width: 500px; 
    box-sizing: border-box; 
    flex: 1 1 300px; 
}

.article-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}


.article-cover {
    width: 80px; 
    height: 80px; 
    border-radius: 4px; 
    margin-right: 15px; 
}


.article-title {
    font-size: 1.2em; 
    color: #333; 
    text-align: left; 
    white-space: normal; 
    word-wrap: break-word; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}


@media (min-width: 670px) {
    .article-list {
        justify-content: flex-start; 
    }
    .article-item {
        width: calc((100% - 1 * 15px) / 2); 
    }
}


@media (min-width: 980px) {
    .article-item {
        width: calc((100% - 2 * 15px) / 3); 
    }
}


@media (min-width: 1200px) {
    .article-list {
        justify-content: center; 
    }
    .article-item {
        width: calc((100% - 2 * 15px) / 3); 
    }
}


@media (max-width: 670px) {
    .article-list {
        justify-content: center; 
    }
    .article-item {
        width: 100%; 
    }
}

.article-container {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: #e0e0e040; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
}

.article-paragraph {
    
    font-size: 1rem; 
    line-height: 1.6; 
    margin-bottom: 20px; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

.sub-title {
    font-size: 1.1rem;
    text-align: center;
}
